---
import Accordion from "@/components/Accordion.astro"
import FeaturedValues from "@/components/FeaturedValues.astro"
import Hero from "@/components/Hero.astro"
import HeroOvals from "@/components/HeroOvals.astro"
import HeroPicture from "@/components/HeroPicture.astro"
import ListBenefits from "@/components/ListBenefits.astro"
import Layout from "@/layouts/Layout.astro"
import BaseContainer from "@/sections/BaseContainer.astro"

const BENEFITS_DATA = [
	{
		id: "6f42a58b-b027-4115-8399-c3b0e4f611fe",
		title: "Mobility for the digital era",
		description:
			"Getting around should be simple (and even fun!) for everyone. We embrace technology to provide low cost, smart access to scooters at your fingertips.",
		image: {
			webp: "",
			jpg: "digital-era.jpg",
		},
	},
	{
		id: "29b8abb7-ef5b-4b0c-9f38-cc9bbad0e930",
		title: "Better urban living",
		description:
			"We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we offset the minimal carbon footprint for each ride",
		image: {
			webp: "",
			jpg: "better-living.jpg",
		},
	},
]
---

<Layout title="About">
	<!-- Hero -->
	<BaseContainer>
		<Hero title="About" />

		<div slot="decotations">
			<HeroOvals size="small" position="hero" />
			<HeroPicture src="/assets/images/hero/design-system-hero-desktop.png" />
		</div>
	</BaseContainer>

	<!-- List Benefits -->
	<BaseContainer>
		<ListBenefits benefits={BENEFITS_DATA} />
	</BaseContainer>

	<!-- Our values -->
	<BaseContainer>
		<FeaturedValues />
	</BaseContainer>

	<!-- FQAS -->
	<BaseContainer>
		<Accordion />
	</BaseContainer>
</Layout>
