---
import FeaturedValues from "@/components/FeaturedValues.astro"
import GroupAccordion from "@/components/GroupAccordion.astro"
import Hero from "@/components/Hero.astro"
import HeroOvals from "@/components/HeroOvals.astro"
import HeroPicture from "@/components/HeroPicture.astro"
import ListItems from "@/components/ListItems.astro"
import { BENEFITS_DATA, FAQS_DATA, OUR_VALUES_DATA } from "@/data/about.data.ts"
import Layout from "@/layouts/Layout.astro"
import BaseContainer from "@/sections/BaseContainer.astro"
---

<Layout title="About">
	<!-- Hero -->
	<BaseContainer sectionClass="mb-16">
		<Hero title="About" />

		<div slot="decotations">
			<HeroOvals size="small" position="hero" />
			<HeroPicture src="/assets/images/hero/design-system-hero-desktop.png" />
		</div>
	</BaseContainer>

	<!-- List Benefits -->
	<BaseContainer>
		<ListItems listOfItems={BENEFITS_DATA} />
	</BaseContainer>

	<!-- Our values -->
	<BaseContainer>
		<FeaturedValues featuredItems={OUR_VALUES_DATA} />
	</BaseContainer>

	<!-- FQAS -->
	<BaseContainer>
		<GroupAccordion accordions={FAQS_DATA} />
	</BaseContainer>
</Layout>
