---
import HeroOvals from "../components/HeroOvals.astro";
import HeroPicture from "../components/HeroPicture.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <!-- Hero -->
  <section class="relative bg-secondary-100">
    <div class="relative max-w-6xl mx-auto z-10">
      <article class="min-h-[200px] flex items-center justify-start px-5 py-10">
        <header class="text-white">
          <div class="title-intro-page">
            <h1 class="font-mono font-bold text-6xl">About</h1>
          </div>
        </header>
      </article>
    </div>

    <HeroOvals numberOvals={3} />
    <HeroPicture src="/assets/images/hero/design-system-hero-desktop.png" />
  </section>

  <!-- List Benefits -->
  <section></section>
</Layout>
