---
import HeroOvals from "../components/HeroOvals.astro";
import HeroPicture from "../components/HeroPicture.astro";
import Layout from "../layouts/Layout.astro";
import BaseContainer from "../sections/BaseContainer.astro";
---

<Layout title="About">
  <!-- Hero -->
  <section class="relative bg-secondary-100">
    <BaseContainer>
      <article class="min-h-[200px] flex items-center justify-start px-5 py-10">
        <header class="text-white">
          <div class="title-intro-page">
            <h1 class="font-mono font-bold text-6xl">About</h1>
          </div>
        </header>
      </article>
    </BaseContainer>

    <HeroOvals />
    <HeroPicture src="/assets/images/hero/design-system-hero-desktop.png" />
  </section>

  <!-- List Benefits -->
  <section>
    <BaseContainer>
      <article class="py-16">
        <ul class="flex flex-col gap-y-32">
          <li>
            <article class="flex items-center justify-between">
              <header class="max-w-[445px]">
                <h2
                  class="mb-6 text-dark-100 font-mono text-5xl tracking-tighter font-bold"
                >
                  Mobility for the digital era
                </h2>

                <div>
                  <p class="text-base font-sans text-dark-200">
                    Getting around should be simple (and even fun!) for
                    everyone. We embrace technology to provide low cost, smart
                    access to scooters at your fingertips.
                  </p>
                </div>
              </header>

              <picture class="relative w-full max-w-[445px] aspect-square">
                <div class="rounded-full overflow-hidden">
                  <img
                    class="w-full object-cover"
                    src="/assets/images/digital-era.jpg"
                    alt=""
                  />
                </div>

                <div
                  class="absolute top-0 bottom-0 left-full w-full lg:ml-12 xl:ml-16 aspect-square rounded-full overflow-hidden bg-light-100"
                >
                </div>
              </picture>
            </article>
          </li>

          <li>
            <article class="flex flex-row-reverse items-center justify-between">
              <header class="max-w-[445px]">
                <h2
                  class="mb-6 text-dark-100 font-mono text-5xl tracking-tighter font-bold"
                >
                  Better urban living
                </h2>

                <div>
                  <p class="text-base font-sans text-dark-200">
                    We’re helping connect cities and bring people closer
                    together. Our scooters are also fully-electric and we offset
                    the minimal carbon footprint for each ride.
                  </p>
                </div>
              </header>

              <picture class="relative w-full max-w-[445px] aspect-square">
                <div class="rounded-full overflow-hidden">
                  <img
                    class="w-full object-cover"
                    src="/assets/images/better-living.jpg"
                    alt=""
                  />
                </div>

                <div
                  class="absolute top-0 bottom-0 right-full w-full lg:mr-12 xl:mr-16 aspect-square rounded-full overflow-hidden bg-light-100"
                >
                </div>
              </picture>
            </article>
          </li>
        </ul>
      </article>
    </BaseContainer>
  </section>

  <!-- Our values -->
  <section>
    <BaseContainer>
      <article class="py-16 text-center">
        <header class="mb-12">
          <h2 class="text-dark-100 text-5xl font-mono font-bold">Our Values</h2>
        </header>

        <ul
          class="grid items-center justify-center gap-8"
          style="grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));"
        >
          <li class="flex flex-col items-center justify-center max-w-[350px]">
            <div class="relative py-16">
              <picture
                class="block max-w-[240px] aspect-square overflow-hidden rounded-full"
              >
                <img
                  class="w-full object-cover"
                  src="/assets/images/our-tech.jpg"
                  alt=""
                />
              </picture>

              <span
                class="absolute bottom-2 left-1/2 flex items-center justify-center w-24 h-24 p-7 bg-primary-100 text-2xl font-mono font-bold text-secondary-100 rounded-full overflow-hidden -translate-x-1/2"
              >
                01
              </span>
            </div>

            <div class="mt-8">
              <h4 class="mb-7 text-dark-100 text-2xl font-mono font-bold">
                Our tech
              </h4>

              <div>
                <p class="text-base font-sans text-dark-200">
                  We’re using cutting edge technology to drive accessible urban
                  transportation forward. Our fully electric scooters are a joy
                  to ride!
                </p>
              </div>
            </div>
          </li>

          <li class="flex flex-col items-center justify-center max-w-[350px]">
            <div class="relative py-16">
              <picture
                class="block max-w-[240px] aspect-square overflow-hidden rounded-full"
              >
                <img
                  class="w-full object-cover"
                  src="/assets/images/our-integrity.jpg"
                  alt=""
                />
              </picture>

              <span
                class="absolute bottom-2 left-1/2 flex items-center justify-center w-24 h-24 p-7 bg-primary-100 text-2xl font-mono font-bold text-secondary-100 rounded-full overflow-hidden -translate-x-1/2"
              >
                02
              </span>
            </div>

            <div class="mt-8">
              <h4 class="mb-7 text-dark-100 text-2xl font-mono font-bold">
                Our tech
              </h4>

              <div>
                <p class="text-base font-sans text-dark-200">
                  We’re using cutting edge technology to drive accessible urban
                  transportation forward. Our fully electric scooters are a joy
                  to ride!
                </p>
              </div>
            </div>
          </li>

          <li class="flex flex-col items-center justify-center max-w-[350px]">
            <div class="relative py-16">
              <picture
                class="block max-w-[240px] aspect-square overflow-hidden rounded-full"
              >
                <img
                  class="w-full object-cover"
                  src="/assets/images/our-community.jpg"
                  alt=""
                />
              </picture>

              <span
                class="absolute bottom-2 left-1/2 flex items-center justify-center w-24 h-24 p-7 bg-primary-100 text-2xl font-mono font-bold text-secondary-100 rounded-full overflow-hidden -translate-x-1/2"
              >
                03
              </span>
            </div>

            <div class="mt-8">
              <h4 class="mb-7 text-dark-100 text-2xl font-mono font-bold">
                Our tech
              </h4>

              <div>
                <p class="text-base font-sans text-dark-200">
                  We’re using cutting edge technology to drive accessible urban
                  transportation forward. Our fully electric scooters are a joy
                  to ride!
                </p>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </BaseContainer>
  </section>

  <!-- FQAS -->
  <section>
    <BaseContainer>
      <article>
        <article class="py-16 text-center">
          <header class="mb-12">
            <h2 class="text-dark-100 text-5xl font-mono font-bold">FAQs</h2>
          </header>
        </article>
      </article>
    </BaseContainer>
  </section>
</Layout>
