---
import HeroHome from "@/components/HeroHome.astro"
import HeroOvals from "@/components/HeroOvals.astro"
import HeroPicture from "@/components/HeroPicture.astro"
import HighlightItems from "@/components/HighlightItems.astro"
import ListItems from "@/components/ListElements.astro"
import { FEATURED_SCOOT_DATA, POINTS_SCOOT_DATA } from "@/data/index.data.ts"
import Layout from "@/layouts/Layout.astro"
import BaseContainer from "@/sections/BaseContainer.astro"
---

<Layout title="Home Scoot">
	<BaseContainer sectionClass="mb-40">
		<HeroHome />

		<div slot="decotations">
			<HeroOvals size="small" position="hero" />
			<HeroPicture src="/assets/images/hero/home-hero-desktop.png" />
		</div>
	</BaseContainer>

	<!-- Featured -->
	<BaseContainer sectionClass="mb-24">
		<HighlightItems itemsOfList={FEATURED_SCOOT_DATA} />
	</BaseContainer>

	<!-- List Points -->
	<BaseContainer>
		<ListItems itemsOfList={POINTS_SCOOT_DATA} />
	</BaseContainer>
</Layout>
