---
import HighlightItems from "@/components/HighlightItems.astro"
import ListItems from "@/components/ListElements.astro"
import { FEATURED_SCOOT_DATA, POINTS_SCOOT_DATA } from "@/data/index.data.ts"
import Layout from "@/layouts/Layout.astro"
import BaseContainer from "@/sections/BaseContainer.astro"
---

<Layout title="Home Scoot">
	<section class="relative mb-40">
		<article class="mx-auto flex min-h-[80vh] max-w-6xl flex-col justify-center px-10 py-5">
			<header class="mb-10 max-w-[500px]">
				<h1 class="text-6xl font-bold text-white">Scooter sharing made simple</h1>
			</header>

			<div class="max-w-[500px] md:ml-16 lg:ml-24">
				<div class="mb-10">
					<p class="font-sans text-base text-white">
						Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient
						locations in each of our cities. Use our app to locate the nearest bike, unlock it with
						a tap, and you’re away!
					</p>
				</div>

				<a href="#" class="block w-fit bg-primary-100 px-10 py-3">
					<span class="font-mono font-bold text-white">Get Scootin</span>
				</a>
			</div>
		</article>

		<div
			class="absolute inset-0 -z-10 bg-cover bg-right-bottom bg-no-repeat"
			style="background-image: url('/assets/images/hero/home-hero-desktop.png');"
		>
		</div>
		<div class="absolute inset-0 -z-10 bg-secondary-100/75"></div>
	</section>

	<!-- Featured -->
	<BaseContainer sectionClass="mb-24">
		<HighlightItems itemsOfList={FEATURED_SCOOT_DATA} />
	</BaseContainer>

	<!-- List Points -->
	<BaseContainer>
		<ListItems itemsOfList={POINTS_SCOOT_DATA} />
	</BaseContainer>
</Layout>
