---
interface Props {
	href?: string
}

const { href, ...props } = Astro.props
---

<a
	href={href}
	class="ml-auto flex max-w-max items-center justify-center bg-primary-100 px-10 py-3"
	{...props}
>
	<span class="font-mono font-bold text-white">
		<slot />
	</span>
</a>
