---
import Apple from "@/icons/Apple.astro"
import GooglePlay from "@/icons/GooglePlay.astro"
---

<div class="flex w-full items-center justify-center gap-x-4 lg:justify-end">
	<a
		href="#"
		class="flex w-full max-w-max items-center justify-center gap-x-2 rounded bg-[#E5ECF4] px-3 py-1 text-dark-100 transition-colors duration-300 ease-in-out hover:bg-slate-50 lg:px-4 lg:py-3"
	>
		<div class="text-dark-100"><Apple /></div>

		<div class="mt-1 flex flex-col font-mono text-lg font-bold lg:mt-0 lg:text-xl">
			<span class="text-[10px] leading-none">Available on the</span>
			AppStore
		</div>
	</a>

	<a
		href="#"
		class="flex w-full max-w-max items-center justify-center gap-x-2 rounded bg-[#E5ECF4] px-3 py-1 text-dark-100 transition-colors duration-300 ease-in-out hover:bg-slate-50 lg:px-4 lg:py-3"
	>
		<div class="text-dark-100"><GooglePlay /></div>

		<div class="mt-1 flex flex-col font-mono text-lg font-bold lg:mt-0 lg:text-xl">
			<span class="text-[10px] leading-none">Get it on</span>
			GooglePlay
		</div>
	</a>
</div>
