---
import Apple from "./icons/Apple.astro"
import GooglePlay from "./icons/GooglePlay.astro"
---

<div class="flex w-full items-center justify-end gap-x-4">
	<a
		href="#"
		class="flex w-full max-w-max items-center justify-center gap-x-2 rounded bg-[#E5ECF4] px-4 py-3 text-dark-100"
	>
		<div><Apple /></div>

		<div class="flex flex-col font-mono text-xl font-bold">
			<span class="text-[10px] leading-none">Available on the</span>
			AppStore
		</div>
	</a>

	<a
		href="#"
		class="flex w-full max-w-max items-center justify-center gap-x-2 rounded bg-[#E5ECF4] px-4 py-3 text-dark-100"
	>
		<div><GooglePlay /></div>

		<div class="flex flex-col font-mono text-xl font-bold">
			<span class="text-[10px] leading-none">Get it on</span>
			GooglePlay
		</div>
	</a>
</div>
