---
import Apple from "./icons/Apple.astro";
import GooglePlay from "./icons/GooglePlay.astro";
---

<div class="flex items-center justify-end gap-x-4 w-full">
  <a
    href="#"
    class="flex items-center justify-center gap-x-2 w-full max-w-max px-4 py-3 rounded text-dark-100 bg-[#E5ECF4]"
  >
    <div><Apple /></div>

    <div class="flex flex-col font-mono text-xl font-bold">
      <span class="text-[10px] leading-none">Available on the</span>
      AppStore
    </div>
  </a>

  <a
    href="#"
    class="flex items-center justify-center gap-x-2 w-full max-w-max px-4 py-3 rounded text-dark-100 bg-[#E5ECF4]"
  >
    <div><GooglePlay /></div>

    <div class="flex flex-col font-mono text-xl font-bold">
      <span class="text-[10px] leading-none">Get it on</span>
      GooglePlay
    </div>
  </a>
</div>
