---
import type { HighlightItem } from "@/types/Global"
import Typography from "./Typography.astro"

interface Props {
	item: HighlightItem
	order: number
}

const { item, order } = Astro.props
if (item === undefined) throw new Error("Item is required")

const { id, title, description, icon } = item

const IconModule = await import(`../icons/${icon}.astro`)
const Icon = IconModule.default
---

<li class="relative w-full max-w-max" data-element={id}>
	<div
		class="sr-only absolute bottom-full left-10 -z-10 h-[calc(100%+200px)] w-4 bg-light-100 lg:not-sr-only lg:right-full lg:top-10 lg:h-4 lg:w-[calc(100%+400px)]"
	></div>

	<div
		class="flex max-w-xl flex-col items-center gap-x-10 gap-y-10 md:max-w-2xl md:gap-x-20 lg:max-w-[350px] lg:items-start"
	>
		{
			IconModule && (
				<div class="aspect-square size-full max-w-14 overflow-hidden rounded-full lg:max-w-24">
					<div class="flex size-full items-center justify-center bg-primary-100">
						<span class="block size-full max-h-6 max-w-11 lg:max-h-10 [&>svg]:size-full">
							<Icon />
						</span>
					</div>
				</div>
			)
		}

		<div class="text-center lg:text-left">
			<Typography as="h2" variant="h4" color="dark100" class="mb-6">{title}</Typography>

			<div class="lg:text-left">
				<Typography as="p" variant="body" color="dark200">{description}</Typography>
			</div>
		</div>
	</div>
</li>
