<article class="px-5 py-16 text-center">
	<header class="mb-12">
		<h2 class="font-mono text-5xl font-bold text-dark-100">Our Values</h2>
	</header>

	<ul
		class="grid items-center justify-center gap-8"
		style="grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));"
	>
		<li class="flex max-w-[350px] flex-col items-center justify-center">
			<div class="relative py-16">
				<picture class="block aspect-square max-w-[240px] overflow-hidden rounded-full">
					<img class="w-full object-cover" src="/assets/images/our-tech.jpg" alt="" />
				</picture>

				<span
					class="absolute bottom-2 left-1/2 flex h-24 w-24 -translate-x-1/2 items-center justify-center overflow-hidden rounded-full bg-primary-100 p-7 font-mono text-2xl font-bold text-secondary-100"
				>
					01
				</span>
			</div>

			<div class="mt-8">
				<h4 class="mb-7 font-mono text-2xl font-bold text-dark-100">Our tech</h4>

				<div>
					<p class="font-sans text-base text-dark-200">
						We’re using cutting edge technology to drive accessible urban transportation forward.
						Our fully electric scooters are a joy to ride!
					</p>
				</div>
			</div>
		</li>

		<li class="flex max-w-[350px] flex-col items-center justify-center">
			<div class="relative py-16">
				<picture class="block aspect-square max-w-[240px] overflow-hidden rounded-full">
					<img class="w-full object-cover" src="/assets/images/our-integrity.jpg" alt="" />
				</picture>

				<span
					class="absolute bottom-2 left-1/2 flex h-24 w-24 -translate-x-1/2 items-center justify-center overflow-hidden rounded-full bg-primary-100 p-7 font-mono text-2xl font-bold text-secondary-100"
				>
					02
				</span>
			</div>

			<div class="mt-8">
				<h4 class="mb-7 font-mono text-2xl font-bold text-dark-100">Our tech</h4>

				<div>
					<p class="font-sans text-base text-dark-200">
						We’re using cutting edge technology to drive accessible urban transportation forward.
						Our fully electric scooters are a joy to ride!
					</p>
				</div>
			</div>
		</li>

		<li class="flex max-w-[350px] flex-col items-center justify-center">
			<div class="relative py-16">
				<picture class="block aspect-square max-w-[240px] overflow-hidden rounded-full">
					<img class="w-full object-cover" src="/assets/images/our-community.jpg" alt="" />
				</picture>

				<span
					class="absolute bottom-2 left-1/2 flex h-24 w-24 -translate-x-1/2 items-center justify-center overflow-hidden rounded-full bg-primary-100 p-7 font-mono text-2xl font-bold text-secondary-100"
				>
					03
				</span>
			</div>

			<div class="mt-8">
				<h4 class="mb-7 font-mono text-2xl font-bold text-dark-100">Our tech</h4>

				<div>
					<p class="font-sans text-base text-dark-200">
						We’re using cutting edge technology to drive accessible urban transportation forward.
						Our fully electric scooters are a joy to ride!
					</p>
				</div>
			</div>
		</li>
	</ul>
</article>
