---
interface Props {
	src: string
}

const { src, ...props } = Astro.props
---

<div
	class="pointer-events-none absolute inset-0 -z-10 bg-repeat-x"
	style={`
    background-image: url('${src}'); 
    background-size: contain;
  `}
	{...props}
>
</div>
<div class="absolute inset-0 -z-10 bg-secondary-100/75"></div>
