---
import Link from "@/components/Link.astro"
import type { Card } from "@/types/Global"
import Typography from "./Typography.astro"

interface Props {
	items: Card[]
}

const { items } = Astro.props
---

<article class="px-5 py-16">
	<ul class="flex flex-col gap-y-6">
		{
			items.map(({ id, title, location, link }) => {
				return (
					<li class="bg-light-200 px-10 py-8" data-item={id}>
						<div class="flex items-center justify-between">
							<div>
								<Typography as="h2" variant="h4" color="dark100" class="mb-2">
									{title}
								</Typography>

								<Typography as="p" variant="body" color="dark100">
									{location}
								</Typography>
							</div>

							<Link href={link}>Apply</Link>
						</div>
					</li>
				)
			})
		}
	</ul>
</article>
