---
const MENU_ITEMS = [
{
		id: 1,
		title: 'About',
		url: '/about',
	},
	{
		id: 2,
		title: 'Location',
		url: '/location',
	},
	{
		id: 3,
		title: 'Carriers',
		url: '/careers',
	},
]
---

<nav>
	<ul class="flex items-center justify-start gap-x-8 text-dark-200">
		{
			MENU_ITEMS.map(({id, title, url}) => {
				return (
				<li class="" data-menu-item={id}>
					<a href={url} class="transition-colors duration-300 ease-out hover:text-primary-100">
						<span class="font-mono font-bold">{title}</span>
					</a>
				</li>
				)
			})
		}
	</ul>
</nav>
