---

---

<nav>
	<ul class="flex items-center justify-start gap-x-8 text-dark-200">
		<li class="">
			<a href="#" class="">
				<span class="font-mono font-bold">About</span>
			</a>
		</li>
		<li>
			<a href="#" class="">
				<span class="font-mono font-bold">Location</span>
			</a>
		</li>
		<li>
			<a href="#" class="">
				<span class="font-mono font-bold">Carriers</span>
			</a>
		</li>
	</ul>
</nav>
