---
import Facebook from "@/icons/Facebook.astro"
import Instagram from "@/icons/Instagram.astro"
import Twitter from "@/icons/Twitter.astro"

---

<ul class="flex items-center justify-end gap-x-6 gap-y-2">
	<li class="w-full max-w-6">
		<a
			href="#"
			aria-label="Link to Facebook page of Scoot"
			class="cursor-pointer text-primary-100 transition-colors duration-200 hover:text-white"
			target="_blank"
		>
			<span><Facebook /></span>
		</a>
	</li>
	<li class="w-full max-w-6">
		<a
			href="#"
			aria-label="Link to Twitter page of Scoot"
			class="cursor-pointer text-primary-100 transition-colors duration-200 hover:text-white"
			target="_blank"
		>
			<span><Twitter /></span>
		</a>
	</li>
	<li class="w-full max-w-6">
		<a
			href="#"
			aria-label="Link to Instagram page of Scoot"
			class="cursor-pointer text-primary-100 transition-colors duration-200 hover:text-white"
			target="_blank"
		>
			<span><Instagram /></span>
		</a>
	</li>
</ul>
