---
interface Props {
	sectionClass?: string
}

const { sectionClass } = Astro.props
const classSection = sectionClass ? sectionClass : ""
---

<section class={`relative ${classSection}`}>
	<div class="relative mx-auto max-w-7xl px-5 xl:px-10">
		<slot />
	</div>

	<slot name="decotations" />
</section>
