---
interface Props {
	sectionClass?: string
}

const { sectionClass } = Astro.props
---

<section class={`relative ${sectionClass}`}>
	<div class="relative mx-auto max-w-6xl">
		<slot />
	</div>

	<slot name="decotations" />
</section>
