---
interface Props {
  sectionClass?: string;
}

const { sectionClass } = Astro.props;
---

<section class={`relative ${sectionClass}`}>
  <div class="relative max-w-6xl mx-auto">
    <slot />
  </div>

  <slot name="decotations" />
</section>
