---
import CardsApp from "@/components/CardsApp.astro"
import HeroOvals from "@/components/HeroOvals.astro"
import MenuItemsList from "@/components/MenuItemsList.astro"
import SocialMediaList from "@/components/SocialMediaList.astro"
import Logo from "../components/icons/Logo.astro"
import Typography from "../components/Typography.astro"
import BaseContainer from "./BaseContainer.astro"
---

<footer class="overflow-hidden">
	<BaseContainer sectionClass="bg-dark-100 z-0">
		<article
			class="footer-top relative grid grid-cols-2 items-center justify-between gap-x-5 px-5 py-24"
		>
			<header>
				<Typography as="h2" variant="h2" color="white">
					Sign up and <br /> Scoot off today
				</Typography>
			</header>

			<CardsApp />

			<HeroOvals size="large" opacity={true} position="footer" />
		</article>
	</BaseContainer>

	<BaseContainer sectionClass="bg-[#333A44] z-10">
		<article class="footer-bottom flex items-center justify-between gap-x-5 gap-y-2 px-5 py-8">
			<div class="flex items-center justify-start gap-14">
				<a class="block w-full max-w-28 text-white" href="/">
					<Logo class="w-full" />
				</a>

				<MenuItemsList />
			</div>

			<SocialMediaList />
		</article>
	</BaseContainer>
</footer>
