---
import Link from "@/components/Link.astro"
import MenuItemsList from "@/components/MenuItemsList.astro"
import Logo from "@/icons/Logo.astro"
---

<header class="relative">
	<div
		class="mx-auto flex max-w-7xl items-center justify-center gap-x-16 px-5 py-6 lg:justify-start lg:px-8 xl:px-10"
	>
		<a href="" class="absolute left-5 top-1/2 -translate-y-1/2 lg:not-sr-only lg:hidden">
			<span class="">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16"
					><g fill="#FCB72B" fill-rule="evenodd"
						><path d="M0 0h19.692v3.692H0zM0 6.154h19.692v3.692H0zM0 12.308h19.692V16H0z"></path></g
					></svg
				>
			</span>
		</a>

		<a class="block max-h-5 w-full max-w-fit text-dark-100 lg:max-h-max lg:max-w-28" href="/">
			<Logo class="h-5 lg:h-auto" />
		</a>

		<MenuItemsList />

		<div class="sr-only ml-auto hidden lg:not-sr-only lg:block">
			<Link>Get Scootin</Link>
		</div>
	</div>
</header>
