---
import Link from "@/components/Link.astro"
import Logo from "@/icons/Logo.astro"
import MenuItemsList from "@/components/MenuItemsList.astro"
---

<header class="relative">
	<div class="mx-auto flex max-w-6xl items-center justify-start gap-x-16 px-5 py-6">
		<a class="block w-full max-w-28 text-dark-100" href="/">
			<Logo />
		</a>

		<MenuItemsList />

		<div class="ml-auto">
			<Link>Get Scootin</Link>
		</div>
	</div>
</header>
